@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }

  .bg-white {
    background-color: rgb(124, 124, 124);
    color: black;
  }

  .border-neutral-200 {
    border-color: rgb(143, 143, 143);
  }

  .bg-neutral-100:hover {
    background-color: rgb(56, 56, 56);
  }

  .border-neutral-300 {
    border-color: rgb(177, 177, 177)
  }

}



body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
